<h2>Welcome to the Sun Flower Organic Store</h2>

<hr>
<div >
	<img src="https://s8.postimg.cc/b7n695ehx/orange111.jpg">
	<h4>Orange</h4>
	<div class="price">Buy 1 lb for<span>$1.00</span></div>
	<br>
	
</div>
<hr>
<div >
	<img src="https://s8.postimg.cc/vdqo8d2j9/image.jpg">
	<h4>Tomato</h4>
	<div class="price">Buy 1 lb for<span>$2.00</span></div>
	<br>
	
</div>
<hr>
<div >
	<img src="https://s8.postimg.cc/g16xe5g6d/apples2.png">
	<h4>Apple</h4>
	<div class="price">Buy 1 lb for<span>$3.00</span></div>
	<br>
	
</div>
<hr>
<div >
	<img src="https://s8.postimg.cc/djv672r6t/image_32640c6de1ce0d9ba634edfa7d49cc0f.jpg">
	<h4>Grapes</h4>
	<div class="price">Buy 1 lb for<span>$4.00</span></div>
	<br>
	
</div>