<h2>Welcome to the Sun Flower Organic Store</h2>

<div>
	<img src="https://s8.postimg.cc/iva2rbfp1/fruit-orange.jpg">
	<h4>Banana</h4>
	<div class="price">Buy 1 lb for<span>$1.00</span></div>
	<br>
	<a href="/" class="button small">Details</a>
</div>