<h2>Create new fruit to the store</h2>

<form method="POST" action="/fruits">
	Fruit: <input type="text" required>
	Price for 1 lb: <input type="integer" required>
	Image: <input type="url" required>
	<input type="submit" value="Add Fruit">
</form>