<h2>Create new fruit to the store</h2>

<form method="POST" action="/fruits">
	Fruit: <input type="text" name="name" required> 
	Price for 1 lb: <input type="integer" name="price" required> Dollars<br>
	Image: <input type="url" name="image" required>
	<input type="submit" value="Add Fruit">
</form>